@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --brand: rgb(3,66,55);
  --secondary: #eceae8;
  --light: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--brand);
  --color-secondary: var(--secondary);
  --color-light: var(--light);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--secondary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
